/* ArticleThumbnail.css */
/* .article-thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
} */

/* .article-thumbnail img {
  width: 100%;
  height: auto;
  display: block;

  border-radius: 8px;
  object-fit:contain;
  object-position: center;
} */
